<html>
  <head>
    <meta charset="utf-8" />
    <title>WAPT practical</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'base.css' %}" />
  </head>

  <body>
    <nav class="navbar">
      <a href="/"><button>Go to Home</button></a>
      <a href="/reset"><button>Reset application</button></a>
    </nav>
    <div id="user-menu">
      {% if user.is_authenticated %} Logged in as
      <label id="username"><strong>{{ user.username }}</strong></label>
      <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Log Out</button>
      </form>
      {% else %}
      <label>You are not logged in</label>
      <a href="{% url 'login' %}"><button>Go to Log In page</button></a>
      {% endif %}
    </div>
    <main>{% block content %} {% endblock %}</main>
  </body>
</html>
