{% extends "base.html" %}
{% block content %}
{% if user.is_authenticated is False %}
<p>You need to be logged in</p>
{% endif %}

<h1>Viewing profile for {{username}}</h1>

<br />

{% if user.username != username %}
<form id="addFriendForm">
  {% csrf_token %}
  <input type="hidden" id="friend" name="friend" value="{{username}}" />

  <button id="friend-btn" type="button" class="btn btn-success">
    Add {{username}} as a friend
  </button>
</form>
{% endif %}

<br />

<h2>About me</h2>
<p>{{content |safe}}</p>

{% if user.username == username %}
<form id="contentUpdateForm">
  {% csrf_token %}
  <label for="content">Update content about yourself:</label>
  <textarea id="content" name="content" rows="4" cols="50" required></textarea>

  <br />

  <button id="update-btn" type="button" class="btn btn-primary">Submit</button>
</form>
{% endif %}

<h2>Friends</h2>
<ol>
  {% if friends %} {% for friend in friends %}
  <li>{{friend.user2}}</li>
  {% endfor %}
</ol>
{% else %}
<p>None yet &#58;&#40;</p>
{% endif %}
<br />

<br />
{% load static %}
<script src="{% static 'profile.js' %}"></script>
{% endblock %}
