<html>
  <head>
    <title>Reset</title>
  </head>
  <body>
    <nav class="navbar">
      <a href="/"><button>Go to Home</button></a>
    </nav>
    <form method="post">
      {% csrf_token %}
      <div>
        <input type="checkbox" id="confirm-reset-box" name="confirm" value="confirm" />
        <label for="confirm-reset-box">
          I am sure i want to reset the data for this app
        </label>
      </div>
      <div>
        <button id="reset-btn" disabled type="submit">Reset</button>
      </div>
    </form>
    {% load static %}
    <script src="{% static 'reset.js' %}"></script>
  </body>
</html>
